* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Mulish', sans-serif;
  font-size: 62.5%;

  --bg-main: #F9F4FB;
  --bg-gradient: linear-gradient(134deg, #343193 0%, #302C63 100%); 
  --color-white: #FFFFFF;
  --color-dark-pink: #B52184;
  --color-dark-blue: #312D64;
}

body {
  font-size: 1.6rem;
}

html, body, button, input, label, textarea, ::placeholder {
  font-family: 'Mulish', sans-serif;
}

.app {
  min-width: 43rem;
  margin: auto;
}

.first {
  text-align: center;
}

.first figure img {
  min-width: 36.4rem;
  height: 37rem;
}

.texts {
  margin-top: 1.7rem;
}

.texts h1 {
  color: var(--color-dark-pink);
  font-size: 3.2rem;
  font-weight: 900;
}

.texts span {
  color: #312D64;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0.5rem;
  display: block;
}

.texts img {
  min-width: 5.8rem;
  min-height: 10.5rem;

  margin-top: 3.5rem;
}

figure img {
  min-width: 36.4rem;
  min-height: 37rem;
}

main {
  margin-top: 9.3rem;
  background: var(--bg-gradient); 
  padding: 5.2rem 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.card {
  background-color: var(--color-white);
  border-radius: 2rem;

  padding: 2.6rem;
  margin: auto;
  width: fit-content;
}

.card img {
  min-width: 8rem;
  min-height: 8rem;
  object-fit: cover;
  margin-bottom: 3.2rem;
}

.card-information h2 {
  color: var(--color-dark-pink);
  font-size: 3rem;
  font-weight: 900;
}

.card-information p {
  width: 26.5rem;
  margin-top: 1.8rem;

  color: var(--color-dark-blue);
  font-size: 1.6rem;
  font-weight: 600;
}

form {
  padding: 7.8rem 4rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

fieldset legend {
  color: var(--color-dark-pink);
  font-size: 3.2rem;
  font-weight: 900;
  margin-bottom: 4.3rem;
}

.input-wrapper label input,
.text-wrapper label textarea{
  width: 100%;
  border-radius: 16px;
  border: 0.2rem solid var(--color-dark-blue);

  padding: 1.2rem 5rem;
  color: var(--color-dark-blue);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;  
}

.text-wrapper label textarea {
  padding-left: 1.6rem;
}

input::placeholder {
  color: var(--color-dark-blue);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;  
}

label {
  display: block;
  position: relative;
}

label i {
  color: var(--color-dark-pink);
  font-size: 2.4rem;
  position: absolute;
  padding: 1.2rem;
  top: 0;
  left: 0;
}

button {
  margin-top: 2.4rem;
  padding: 1.6rem;

  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 700;

  border: none;
  border-radius: 1.6rem;
  background: var(--bg-gradient);

  cursor: pointer;
}

.stars figure {
  display: none;
}

footer {
  padding: 1.6rem;
  background: var(--bg-gradient);
}

footer p {
  color: var(--color-white);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

@media(min-width: 1300px) {
  .app {
    width: 100%;
  }

  .first {
    margin-inline: 10.9rem 3rem;
    text-align: start;
    display: grid;
    justify-content: center;
    column-gap: 2.8rem;
    grid-template-areas: 
    'A B';
  }

  .first figure {
    grid-area: B;
    width: 72rem;
    height: fit-content;
  }

  .first figure img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
  }

  .texts {
    grid-area: A;
    margin: 31.2rem auto 0;
  }

  .texts h1 {
    font-size: 5.8rem;
  }
  
  .texts span {
    font-size: 3.2rem;
  }

  .texts img {
    margin-top: 17.9rem;
  }

  main {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 6rem;
    padding: 6.4rem 11.1rem;
  }

  .card {
    width: fit-content;
    padding: 3.2rem;

    margin: 0;
  }

  .card img {
    width: 9.7rem;
    height: 9.7rem;

    margin-bottom: 4rem;
  }

  .card-information h2 {
    font-size: 3.5rem;
  }

  .card-information p {
    width: 32.1rem;
    font-size: 2rem;
  }

  .stars {
    display: flex;
  }

  .stars form {
    width: 100%;
    padding-left: 10.9rem;
  }

  .stars legend {
    font-size: 4.2rem;
  }

  .stars figure {
    width: 100%;
    display: block;
  }

  .stars figure img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  footer {
    padding: 3.2rem;
  }
} 